streamlit==1.22.0 
similarity==0.0.1
git+https://github.com/boudinfl/pke.git
scipy==1.10.1
torch==1.10.0
transformers==4.12.0
sense2vec==2.0.0
flashtext==2.7
tqdm==4.62.3
strsim==0.0.3
scikit-learn==1.0.2
networkx==2.6.3
sentencepiece
nltk==3.6.5
flask
flask_cors
flask_restful


